/* CSS – External File

The last way, is the proper way, we store all of our CSS into
a different file, one or many. This allows us to be very
flexible, and make changes without causing negative
impact. If you think of a normal size project, you may have
tens of CSS and html files, by doing this, you can easily
share the CSS around.
Also, we explore one important thing, modularity, by doing
this we can reuse the CSS anywhere we need it.
To do this, we need to link the files, and we do this by using
the link tag and referencing the CSS file, as for the example
on the right. These are two different files in your file
system.
Use <link /> tags to add a CSS reference to an HTML
document. */

/* <-- styles.CSS -- > */
body {
background-color: black;
}
h1 {
color: blue;
}
p {
color: red;
}